<%- include('./partials/header') %> <% if(success.length > 0) { %>
<div
  style="
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #11d642;
    border-radius: 0.32rem;
  "
>
  <span style="color: white"> <%= success %> </span>
</div>
<% } %>

<div class="min-h-screen flex flex-col bg-gray-100">
  <div
    class="container mx-auto flex flex-col md:flex-row flex-grow py-10 px-4 md:px-6"
  >
    <aside
      class="w-full md:w-1/4 bg-white p-4 md:p-6 shadow-lg rounded-lg mb-6 md:mb-0 md:mr-6"
    >
      <nav class="flex flex-col space-y-4">
        <a
          class="text-gray-700 bg-gray-300 text-center hover:text-white hover:bg-gray-600 font-medium py-2 px-4 rounded transition duration-200"
          href="#"
          >All Products</a
        >
        <a
          class="text-gray-700 bg-gray-300 text-center hover:text-white hover:bg-gray-600 font-medium py-2 px-4 rounded transition duration-200"
          href="#"
          >Create New Product</a
        >
      </nav>
    </aside>
    <main class="w-full md:w-3/4 bg-white p-4 md:p-10 shadow-lg rounded-lg">
      <h2 class="text-2xl md:text-3xl font-bold mb-6 md:mb-8">
        Create New Product
      </h2>
      <form
        autocomplete="off"
        action="/products/create"
        method="post"
        enctype="multipart/form-data"
      >
        <section class="mb-6 md:mb-8">
          <h3 class="text-xl md:text-2xl font-semibold mb-4">
            Product Details
          </h3>
          <div class="mb-4">
            <label class="block mb-2 text-gray-700 font-medium"
              >Product Image</label
            >
            <div class="relative">
              <input
                name="image"
                type="file"
                required
                class="absolute inset-0 opacity-0 cursor-pointer z-50"
              />
              <div
                class="flex items-center justify-center py-3 px-4 border border-gray-300 rounded bg-gray-100 text-gray-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-500 focus-within:border-blue-500 hover:bg-gray-200 transition duration-200 ease-in-out"
              >
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M12 4.5c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.015-4.5-4.5-4.5zm0 7.5c-1.659 0-3-1.341-3-3s1.341-3 3-3 3 1.341 3 3-1.341 3-3 3zm-8.25-6c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h16.5c.414 0 .75.336.75.75s-.336.75-.75.75h-16.5zm-2.25 9c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h21c.414 0 .75.336.75.75s-.336.75-.75.75h-21zm2.25 3c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h16.5c.414 0 .75.336.75.75s-.336.75-.75.75h-16.5z"
                  />
                </svg>
                <span class="ml-2">Select File</span>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Product Name</label
              >
              <input
                name="name"
                type="text"
                required
                placeholder="Product Name"
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Product Price</label
              >
              <input
                name="price"
                type="number"
                required
                placeholder="Product Price"
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Discount Price</label
              >
              <input
                name="discount"
                type="number"
                required
                placeholder="Discount Price"
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
          </div>
        </section>

        <section class="mb-6 md:mb-8">
          <h3 class="text-xl md:text-2xl font-semibold mb-4">Panel Details</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Background Color</label
              >
              <input
                name="bgcolor"
                type="text"
                required
                placeholder="Background Color"
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Panel Color</label
              >
              <input
                name="panelcolor"
                type="text"
                placeholder="Panel Color"
                required
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
            <div>
              <label class="block mb-2 text-gray-700 font-medium"
                >Text Color</label
              >
              <input
                name="textcolor"
                type="text"
                required
                placeholder="Text Color"
                class="w-full py-2 md:py-3 px-3 md:px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              />
            </div>
          </div>
        </section>
        <button
          class="w-full py-3 px-6 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        >
          Create New Product
        </button>
      </form>
    </main>
  </div>
</div>

<%- include('./partials/footer') %>
